.movie-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  font-weight: normal;
}
.poster_image {
  width: 275px;
  height: 413px;
  float: left;
}
.movie-info {
  float: right;
}
