body {
  font-family: "Helvetica";
}

.movie {
  overflow: hidden;
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.image_container {
  position: absolute;
  top: 10px;
  height: 280px;
  width: 280px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
img {
  position: absolute;
  top: 0;
  height: 420px;
  width: 280px;
}

.missing_image {
  height: 280px;
  width: 280px;
}

.background_overlay {
  position: absolute;
  top: 10px;
  height: 280px;
  width: 280px;
  background-color: black;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.text_container {
  /*display changed to 'display: flex' on mouseover in 'movies.js' file*/
  display: none;
  flex-direction: column;
  height: 280px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 10px;
  overflow: scroll;
}

.movie_overview {
  width: 280px;
  color: #ECECF0;
  padding: 10px;
  overflow: scroll;
}

.movie_title {
  color: #ECECF0;
  font-size: 1.25em;
  text-shadow: 2px #646466;
  margin: 10px;
}

.movie_info_divider {
  border-bottom: solid;
  border-color: #ECECF0;
  margin-left: 10px;
  margin-right: 10px;
}
