.searchbar {
  float: none !important;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.searchbar-container {
  display: flex;
  flex-direction: row;
}
